@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.container{
    text-align: center;
}

h2{
    font-family: 'Roboto Mono', monospace;
}

.table{
    align-items: center;
}